<div class="container-fluid" style="padding-right: 0px; padding-left: 0px">
    <!-- <h1 style="margin-left: 20px; margin-top: 20px; position: absolute">肾事联盟</h1> -->
    <div style="margin-top: 40px;">
        <ul id="mytabs" class="nav nav-tabs" style="font-size: 15px;">
            <li class="navbar-right" style="margin-right:35px">
                <a id="drop_info" class="navbar-brand" style="height:43px;" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop_info" style="min-width:220px">
                    <li role="presentation">
                        <h4 style="margin-left:10px"><strong>个人信息</strong></h4>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:10px"><strong>姓名：</strong></span>{{UserName}}
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:10px"><strong>角色：</strong></span>{{UserRole|realarraytostring}}
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:10px"><strong>上次登录时间：</strong></span>
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:10px">{{LastLoginTime|timeFormat:'YYYY-MM-DD h:m'}}</span>
                    </li>
                    <br>
                    <li role="presentation" style="margin-top: -10px">
                        <!-- <button class="btn btn-primary pull-left" style="margin-left:20px" ng-click="toChangePW()">修改密码</button> -->
                        <button class="btn btn-danger pull-right" style="margin-right:80px" ng-click="ifOut()">注销</button>
                    </li>
                </ul>
            </li>
            <!--  <li class="navbar-right"><a href="#/main/coach" >健康专员专区</a> </li>
      <li class="navbar-right"><a href="#/main/usermanage" >用户管理</a> </li>
      <li class="navbar-right"><a href="#/main/check" >医生注册审核</a> </li> -->
            <uib-tabset class="navbar-right" active="myIndex">
                <uib-tab index="0" heading="用户管理" select="touser()" ng-show="flaguser"></uib-tab>
                <uib-tab index="1" heading="医生注册审核" select="tounchecked()" ng-show="flagdoctor"></uib-tab>
                <uib-tab index="2" heading="健康专员专区" select="tounentered()" ng-show="flaghealth"></uib-tab>
                <uib-tab index="3" heading="地区/科室管理" select="todistrdep()" ng-show="flagdistrdp"></uib-tab>
                <uib-tab index="4" heading="数据监控" select="todata()" ng-show="flagdata"></uib-tab>
                <uib-tab index="5" heading="保险人员专区" select="toinsurance()" ng-show="flaginsu"></uib-tab>
                <uib-tab index="6" heading="患者退款审核" select="topatrefund()" ng-show="flagpatrefund"></uib-tab>
                <uib-tab index="7" heading="用户意见反馈" select="toadvice()" ng-show="flagadvice"></uib-tab>
            </uib-tabset>
            <li class="navbar-left " style="padding-left: 20px;margin-top: -23px ">
                <a href="#/homepage ">
                    <button class="btn btn-primary " style="border: transparent 13px solid; border-width: 5px 4px; border-right-color: #EEE; ">
                        <span class="glyphicon glyphicon-arrow-left "></span> 返回首页
                    </button>
                    <!-- 返回首页 -->
                </a>
            </li>
        </ul>
    </div>
    <div ui-view style="margin-top: 10px "></div>
</div>