<h4 style="font-size: 15px;margin-top: 0px;font-weight: bold;">建议总数：{{totalItems}}条</h4>

<!-- 建议列表 -->
<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" style="margin-top: 10px">
    <tr ng-repeat="record in $data" style="text-align: center;">
        <td title="'用户ID'" sortable="'userId'">{{record.userId}}
        </td>
        <td title="'角色'" sortable="'role'">{{record.role|role}}
        </td>
        <td title="'反馈时间'" sortable="'time'">{{record.time|timeFormat:'YYYY-MM-DD h:m'}}
        </td>
        <td title="'反馈内容'" sortable="'content'">{{record.content}}
        </td>
    </tr>
</table>
<!-- 每页数量 -->
<!-- <div class="btn-group  btn-group-sm pull-right" style="margin-top: 18px">
    <button type="button" class="btn btn-default" ng-click="changeLimit(20)">20</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(30)">30</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(50)">50</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(100)">100</button>
</div> -->
<!-- 分页条 -->
<!-- <ul uib-pagination max-size="10" class="pagination" boundary-links="true" boundary-link-numbers="true" direction-links="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" force-ellipses="true" rotate="true" total-items="totalItems" items-per-page="itemsPerPage" ng-change="pageChanged()" ng-model="currentPage">
</ul> -->

