<h4 style="font-size: 15px;margin-top: -10px;font-weight: bold;">当前健康信息共{{totalNums}}条</h4>
<form class="form-inline">
    <!--   <div class="form-group">
<div class="dropdown">
	<button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" 
			data-toggle="dropdown" style="background:#347ab6;color:white">新建<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="" data-toggle="modal" data-target="#new_register">注册新用户</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="" data-toggle="modal" data-target="#new_add">给已有用户添加角色</a>
		</li>
	</ul>
</div>
</div> -->
    <!-- 搜索 -->
    <!--   <div class="form-group">
    <label class="sr-only">用户ID</label>
    <input type="text" class="form-control" ng-model="userlist.userId" placeholder="请输入用户ID">
  </div>
  <div class="form-group">
    <label class="sr-only">用户姓名</label>
    <input type="text" class="form-control" ng-model="userlist.name" placeholder="请输入用户姓名">
  </div>
  <div class="form-group">
    <label class="sr-only">手机号码</label>
    <input type="text" class="form-control" ng-model="userlist.phoneNo" placeholder="请输入用户手机号码">
  </div>
  <div class="form-group">
    <label class="sr-only">性别</label>
    <select class="form-control" ng-model="userlist.gender" ng-options="gender.id as gender.name for gender in search_genders">
		<option value=''>请选择性别</option>
	</select>
  </div>
  <div class="form-group">
    <label class="sr-only">角色</label>
	<select class="form-control" ng-model="userlist.role" ng-options="role.id as role.name for role in search_roles">
		<option value=''>请选择角色</option>
	</select>
  </div>
  <button type="submit" class="btn btn-default" ng-click="searchList()">搜索</button>
  <button type="button" class="btn btn-default" ng-click="searchClear()">清空搜索</button> -->
</form>
<!-- 保险人员列表 -->
<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" style="margin-top: 10px">
    <tr ng-repeat="user in $data" style="text-align: center;">
        <td title="'用户ID'" sortable="'userId'" style="width: 110px">{{user.userId}}
        </td>
        <td title="'检查时间'" sortable="'time'"  style="width: 110px">{{user.time|timeFormat:'YYYY-MM-DD'}}
        </td>
        <td title="'上传时间'" sortable="'insertTime'"  style="width: 110px">{{user.insertTime|timeFormat:'YYYY-MM-DD'}}
        </td>
        <td title="'类型'" sortable="'label'"  style="width: 60px">{{user.label}}
        </td>
        <td title="'检查描述'" sortable="'description'" style="width: 30%">{{user.description}}
        </td>
        <td title="'录入状态'" sortable="'description'" style="width: 90px">{{user.importStatus|healthinfoimport}}
        </td>
        <td title="'检查图片'">
                <div id="photo"  class="col-lg-4" ng-repeat="img in user.url">
            <img ng-src="{{img.photo}}" style="height:95%; width:95%;" ng-click="showbigger(img.photo)" >
          </div>

         
            <!-- <button class="btn btn-link" style="text-decoration:none; outline:none; padding:0px; border:0px; font-size:10px;" ng-click="openDetail(user)">查看图片</button> -->
        </td>
    </tr>
</table>
<!-- 每页数量 -->
<div class="btn-group  btn-group-sm pull-right" style="margin-top: 18px">
    <button type="button" class="btn btn-default" ng-click="changeLimit(20)">20</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(30)">30</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(50)">50</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(100)">100</button>
</div>
<!-- 分页条 -->
<ul uib-pagination max-size="10" class="pagination" boundary-links="true" boundary-link-numbers="true" direction-links="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" force-ellipses="true" rotate="true" total-items="totalNums" items-per-page="itemsPerPage" ng-change="pageChanged()" ng-model="currentPage">
</ul>
<!--  -->
<div class="modal fade" id="HealthInfoPhoto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal_close('#HealthInfoPhoto')">&times;</button>
                <h3 class="modal-title" id="modal-title">健康信息图</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <img style="width:350px;margin-left: 20%;margin-right: 20%;" ng-src="{{photourl}}">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="modal_close('#HealthInfoPhoto')">关闭</button>
            </div>
        </div>
    </div>
</div>
</div>