<div class="tab-pane fade in active" id="reagent" style="font-size:15px">
  <div style="padding-bottom: 30px;">
    <span style="font-size: 15px;margin-top: -10px;font-weight: bold;">当前未录入患者总人数 : {{count}}位</span> 
    <b style="font-size: 18px;margin-left:300px">患者搜索</b> <input style="width:20%;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;margin-left:30px" ng-model="patientname" placeholder="请输入患者姓名" />
      <button class="btn btn-primary" style="margin-left:15px" ng-click="search()">查找</button> 
  </div>
  <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" style="text-align:center">
    <tr ng-repeat="labtestinfo in $data">
      <td title="'姓名'"  sortable="'name'">
        {{labtestinfo.name}}
      </td>
      <td title="'上传日期'" sortable="'uploadtime'">
        {{labtestinfo.latestUploadTime}}
      </td>
      <td title="'操作'">
          <a href="#/main/labinfo" ng-click="getpatId($index)">化验信息录入</a>
      </td>
    </tr>
  </table>
  <!-- <button class="btn btn-primary" style="margin-left:30%;margin-top:40px;height:60px;width:100px;font-size:20px" ng-click="lastpage()">
      上一页
  </button>
  <button class="btn btn-primary" style="margin-left:20%;margin-top:40px;height:60px;width:100px;font-size:20px" ng-click="nextpage()">
      下一页
  </button> -->
  <div class="btn-group  btn-group-sm pull-right" style="margin-top: 18px">
    <button type="button" class="btn btn-default" ng-click="changeLimit(20)">20</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(30)">30</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(50)">50</button>
    <button type="button" class="btn btn-default" ng-click="changeLimit(100)">100</button>
  </div>
<!-- 分页条 -->
  <ul uib-pagination  
    max-size="10" 
    class="pagination" 
    boundary-links="true" 
    boundary-link-numbers="true"
    direction-links="true"
    first-text="首页"
    last-text="末页"
    previous-text="上一页"
    next-text="下一页"
    force-ellipses="true"
    rotate="true" 
    total-items="count"
    items-per-page="itemsPerPage"
    ng-change="pageChanged()"
    ng-model="currentPage"
    >
  </ul>
</div>