<!-- <div class="tab-pane fade in active" id="data">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1" role="navigation">
        <ul id="mypills" class="nav nav-pills nav-stacked" style="text-align: center;font-size: 15px">
          <li><a href="#sampling" data-toggle="pill">所有用户</a></li>
          <li><a href="#testResult" data-toggle="pill">医生</a></li>
          <li><a href="#reagent" data-toggle="pill">护士</a></li>
          <li><a href="#instrument" data-toggle="pill">患者</a></li>
          <li><a href="#newSample" data-toggle="pill">保险人员</a></li>
          <li><a href="#newReagent" data-toggle="pill">健康专员</a></li>
          <li><a href="#newReagent" data-toggle="pill">管理员</a></li>
        </ul>
      </div>
      <div class="col-xs-11" style="margin-top:10px">
        <div ui-view></div>
      </div>
    </div>  
  </div>
</div>
<script>
  $('#mypills a[href="#sampling"]').tab('show');
</script>
 -->
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2" style="text-align: center;font-size: 15px;margin-top:10px;margin-left:10px;width:auto;">
          <uib-tabset vertical="true" type="pills" active="indexnow">
            <uib-tab index="0" heading="医生数据" style="font-size:18px;font-weight:bold;" ></uib-tab>
            <uib-tab index="1" ng-show="ifregion" heading="地区分布" select="toregion()"></uib-tab>
            <uib-tab index="2" ng-show="iftrend" heading="变化趋势" select="totrend()"></uib-tab>
            <uib-tab index="3" ng-show="ifworkload" heading="工作量统计" select="toworkload()"></uib-tab>
            <uib-tab index="4" ng-show="ifovertime" heading="超时咨询统计" select="toovertime()"></uib-tab>
            <uib-tab index="5" ng-show="ifevaluation" heading="评价统计" select="toevaluation()"></uib-tab>
            <uib-tab index="6" ng-show="ifcharge" heading="收费统计" select="tocharge()"></uib-tab>
            <uib-tab index="7" ng-show="ifPat" heading="患者数据" style="font-size:18px;font-weight:bold" ></uib-tab> 
            <uib-tab index="8" ng-show="ifPatregion" heading="地区分布" select="toPatregion()"></uib-tab>
            <uib-tab index="9" ng-show="ifPattrend" heading="变化趋势" select="toPattrend()"></uib-tab>
            <uib-tab index="10" ng-show="ifPatinsurance" heading="肾病保险" select="toPatinsurance()"></uib-tab>
            <uib-tab index="11" ng-show="ifgroup" heading="分组查看" select="toPatgroup()"></uib-tab>
          </uib-tabset>
      </div>
      <div class="col-xs-10" style="margin-top:30px">
        <div ui-view></div>
      </div>
    </div>  
  </div>
</div>
