<div class="panel-body">
    <form class="form-inline" style="margin-top: -30px">
        <div class="form-group">
            <select class="form-control" id="teamselect" ng-change="viewclass()" style="width: 200px;text-align: center;" ng-model="value">

            <option value="">请选择肾病类型</option>
                <option value="1">肾移植</option>
                <option value="2">CKD1-2期</option>
                <option value="3">CKD3-4期</option>
                <option value="4">CDK5期</option>
                <option value="5">血透</option>
                <option value="6">腹透</option>
            </select>
        </div>
<!--         <div class="form-group">
            <button type="submit" class="btn btn-default" ng-click="viewPatgroup()" style="background:#347ab6;color:white;width: 60px">确 定</button>
        </div> -->
    </form>
    <table ng-table="grouptableParams" class="table table-condensed table-bordered table-striped" style="margin-top: 10px;">
        <tr ng-repeat="g in $data" style="text-align: center;">
            <td title="'患者姓名'" sortable="'name'">{{g.name}}
            </td>
            <td title="'诊断类型'">{{g.class|diseasetype}}
            </td>
            <td title="'内容'">{{g.content|Patgroupfilter}}
            </td>
            <td title="'主管医生'" sortable="'doctorname'">{{g.doctorname|Patgroupfilter}}
            </td>
            <td title="'诊断时间'" sortable="'creationTime'">{{g.creationTime|timeFormat:"YYYY-MM-DD h:m"}}
            </td>
        </tr>
    </table>
</div>
